.Weather {
  border: 1px solid #9e9e9e;
  padding: 15px;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #e8eaed;
  margin: 10px;
}

.Weather li {
  color: #9e9e9e;
  list-style: none;
}
.Weather ul {
  margin: 0;
  padding: 10px;
  padding-top: 0;
}

.Weather .weather-icon {
  font-size: 50px;
}

.Weather .weather-icon img {
  min-width: 64px;
}

.Weather h1 {
  padding: 10px;
  padding-bottom: 0;
}

.Weather .btn {
  background-color: #8ab4f8;
}

.Weather .temperature {
  font-weight: bold;
  line-height: 64px;
}

.Weather .degrees {
  font-size: 20px;
}
